<h1>Hello pod person named <%= @user.user_name %></h1>
<p>What are you listening to? Wanna talk about it? YEAH YOU DO.</p>
<br><br>
<a href="/sessions" data-method="delete">Log Out</a>
<a href="/podcasts">Form</a>