<nav class="indigo darken-2">
	<a class="btn btn deep-purple darken-3" href="javascript:history.back()">Back</a>
	<a href="#" class="brand-logo center"> <img id="editorslogo" src="/assets/whitefull" alt="cat logo"></a>

</nav>
<body>
	<div id="blackwrapper" class="black">
		<div id="submitwrapper" class="teal lighten-1">
			<div id="feature" class="z-depth-3">
				<h2 class=center-align>Submit a Podcast Idea!</h2>

				<p class="center-align">Have a podcast you want to see featured on next weeks list? Make a submission here! Every week, we pick one submission randomly, and post it the following week!</p>
			</div>

			<% if flash[:errors]%>
				<% flash[:errors].each do |e|%>
					<p class="red"><%= e %> </p>
					<% end %>
				<% end %>

			<div id="suggestionform" class="col s12 m2 amber lighten-1 z-depth-4">
				<form method="post" action="/podcasts">
						<input type="hidden" name="authenticity_token" value ="<%= form_authenticity_token %>">
						<input type="hidden" name="type_id" value="3">
					<div class="input-field">
						<label>Name of the Podcast</label><input type="text" name="show">
					</div>
					<div class="input-field">
						<label>Title/Episode number</label><input type="text" name="episode">
					</div>
					<div class="input-field">
						<label>Link to the episode</label><input type="text" name="link">
					</div>
					<div class="input-field">
						<label>Episode description</label><input type="text" name="description">
					</div>
					<div class="input-field">
						<label>What genre would you call this show?</label><input type="text" name="genre">
						<!-- Should we make this a dropdown select? -->
					</div>
						<input class="btn deep-purple darken-3" type="submit" value="Submit!">
				</form>
			</div>
		</div>
	</div>
</body>


